*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.wrap{
    max-width: 1400px;
    margin: 0 auto ;
    display: flex;
    flex-direction: column;
}
.header{
    width: 100%;
}
.top{
    background: url(../images/tower.jpg)  no-repeat center;
    height: 769px;
    text-align: center;
}

.top__title{
    display: inline-block;
    padding-top: 42px;
    
    font-size: 30px;
    color: white;
    font-family: 'Bebas Neue', cursive;
}

.triangle-left {
    display: inline-block;
    margin-left: -3px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 8px solid #00A4E5;
    
}
.top__title-end{
    display: inline-block;
    margin-left: -3px;
    margin-top: 42px;
    font-size: 30px;
    color: white;
    font-family: 'Bebas Neue', cursive;
}
.center{
    height: auto;
    width: auto;
    font-weight: 100;

    text-align: center;
    padding-top: 318px;
    letter-spacing: 5.70937px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 60px;
    line-height: 70px;

    color: #FFFFFF;
}

.top__subtitle{
    text-align: center;
    color: #FFFFFF;
    font-family: 'Open-sans', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 22px;
}
.scroll{
   
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 11px;
    line-height: 15px;

    text-align: center;
    margin-top: 15%;
    letter-spacing: 3.7px;
    text-decoration: none;
    color: #FFFFFF;
    
}
.scroll:hover{
    color: #00A4E5 ;
    
}

@media screen and (max-width: 768px){
    .top{
        height: 500px;
    }
    .top__title{
        padding-top: 30px;
        font-size: 25px;
    }
    .triangle-left{
        
        border-top: 9px solid transparent;
        border-bottom: 9px solid transparent;
        border-right: 7.5px solid #00A4E5;
    }
    .top__title-end{
        font-size: 25px;
    }
    .center{
        font-weight: 100;
        padding-top: 150px;
        text-align: center;
        letter-spacing: 4.70937px;
        font-size: 40px;
        line-height: 60px;
    }
    .top__subtitle{
        text-align: center;
        font-style: normal;
        font-weight: 100;
        font-size: 14px;
        line-height: 20px;
    }
    .scroll{
        font-style: normal;
        font-weight: 100;
        font-size: 10px;
        line-height: 13px;

        text-align: center;
        letter-spacing: 3px;
    }

}
@media screen and (max-width: 320px){
    .top{
        height: 500px;
        background: url(../images/tower.jpg)  no-repeat center/cover ;
    }
    .top__title{
        padding-top: 50px;
        font-size: 25px;
        display: none;
    }
    .triangle-left{
        display: none;
        border-top: 9px solid transparent;
        border-bottom: 9px solid transparent;
        border-right: 7.5px solid #00A4E5;
    }
    .top__title-end{
        font-size: 25px;
        display: none;
    }
    .center{
        font-weight: 100;
        padding-top: 50px;
        text-align: center;
        letter-spacing: 4px;
        font-size: 65px;
        line-height: 60px;
        margin-bottom: 25px;
    }
    .top__subtitle{
        text-align: center;
        font-style: normal;
        font-weight: 100;
        font-size: 20px;
        line-height: 20px;
        margin-bottom: 120px;
    }
    .scroll{
        font-style: normal;
        font-weight: 100;
        font-size: 10px;
        line-height: 13px;

        text-align: center;
        letter-spacing: 3px;
    }
}
.nav{
    width: 100%;
    border: 1px solid #E6E6E6;
    display: flex;
}
.nav__title{
    flex-direction: row;
    color: #171819;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 22px;
    margin-left: 12%;
    margin-top: 1.3%;
    margin-bottom: 18px;
}
.nav__triangle{
    flex-direction: row;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 6px solid #00A4E5;
    
    
    
    margin-top: 1.7%;
    margin-bottom: 2.5%;
    margin-right: 1px;
}
.nav__title-end{
    flex-direction: row;
    color: #171819;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 22px;
    margin-top: 1.3%
    
    
}
@media screen and (max-width: 768px){
    .nav{
        width: 100%;
        height: 65px;
    }
    .nav__title{
        font-size: 20px;
        margin-left: 12%;
        margin-top: auto;
        margin-bottom: auto;
    }
    .nav__triangle{
        border-top: 7px solid transparent;
        border-bottom: 7px solid transparent;
        border-right: 5px solid #00A4E5;
    
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 0;
    }
    .nav__title-end{
        font-size: 20px;
        margin-top: auto;
        margin-bottom: auto;
    }
}
@media screen and (max-width: 320px){
    .nav{
        width: 100%;
        height: auto;
    }
    .nav__title{
        font-size: 20px;
        margin-left: 12%;
        margin-top: auto;
        margin-bottom: auto;
    }
    .nav__triangle{
        border-top: 7px solid transparent;
        border-bottom: 7px solid transparent;
        border-right: 6px solid #00A4E5;
    
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 0;
    }
    .nav__title-end{
        font-size: 20px;
        margin-top: auto;
        margin-bottom: auto;
    }
}
.menu{
    display: flex;
    flex-wrap: wrap;
    margin-left: 35%;
}
.navigation{
    flex-direction: row;
    list-style-type: none;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    margin-top: 7%;

}
a:hover{
    color: #00A4E5;
    
}
.home{
    flex-direction: row;
    text-decoration: none;
    color: #48555B;
    margin-right: 40px;
}
.about{
    flex-direction: row;
    text-decoration: none;
    color: #48555B;
    margin-right: 40px;
}
.services{
    flex-direction: row;
    text-decoration: none;
    color: #48555B;
    margin-right: 40px;
}
.work{
    flex-direction: row;
    text-decoration: none;
    color: #48555B;
    margin-right: 40px;
}
.contact-top{
    flex-direction: row;
    text-decoration: none;
    color: #48555B;
}
.burger-menu{
    position: fixed;
    top: 20px;
    right: 20px;
    
    display: none;
    width: 30px;
    height: 3px;
    background-color: black;
}
.burger-menu::before{
    content: '';
    position: absolute;
    top: 10px;
    left: 0;
    width: 30px;
    height: 3px;
    background-color: black;
}
.burger-menu::after{
    content: '';
    position: absolute;
    top: 20px;
    left: 0;
    width: 30px;
    height: 3px;
    background-color: black;
}
    

@media screen and (max-width: 768px){   
    .menu{
        margin-left: 20%;
        margin-top: auto;
        margin-bottom: auto;
    }   
    .navigation{
        margin-top: 0px;
    }
}
@media screen and (max-width: 320px){
    .header{
        display: flex;
        flex-direction: column;
    }
    .nav{
        display: flex;
        order: -1;
        height: 60px;
    }
    .menu{
        display: none;
    } 
    .burger-menu{
        position: fixed;
        top: 20px;
        right: 20px;
        display: table;
        width: 30px;
        height: 3px;
        background-color: black;
    }
    .burger-menu::before{
        content: '';
        position: absolute;
        top: 10px;
        left: 0;
        width: 30px;
        height: 3px;
        background-color: black;
    }
    .burger-menu::after{
        content: '';
        position: absolute;
        top: 20px;
        left: 0;
        width: 30px;
        height: 3px;
        background-color: black;
    }
} 
.main{
    width: 100%;
    display: inline-block;
    background: url(../images/Line.png) no-repeat  top 92px;
}
.main__title{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #48555B;
    padding-top: 57px;
}
.main__title::before{
    content: '';
    position: absolute;
    top: 225%;
    left: calc(50% - 25px);
    width: 50px;
    height: 2px;
    background-color: #00a4e5;
}
.main__text{
    width: 40%;
    display: inline-block;
}
.main__top-text{
    
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    margin-left: 30%;
    margin-top: 10%;
    letter-spacing: 0.1875px;
    font-weight: 700;
    color: #48555B;
}
.konstruct{
    text-decoration: none;
}
.main__bottom-text{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 23px;
    margin-left: 30%;
    margin-top: 3%;
    
    
    
    letter-spacing: 0.1875px;

    color: #48555B;
}
@media screen and (max-width: 768px){
    .main__title{
    
        font-size: 16px;
        line-height: 20px;
        padding-top: 30px;
    }
    .main__top-text{
        
        font-size: 15px;
        line-height: 25px;
        font-weight: 800;
    }
    .main__bottom-text{
        font-size: 12px;
        line-height: 21px;
    
    }
    .main__title::before{
        content: '';
        position: absolute;
        top: 630px;
        left: calc(50% - 25px);
        width: 50px;
        height: 2px;
        background-color: #00a4e5;
    }
}
@media screen and (max-width: 320px){
    .main__bottom-text{
        margin-left: 1%;
        margin-right: 1%;
    }

    .main{
        width: 100%;
        display: inline;
        background:none;
        
    }
    .main__title::before{
        content: '';
        position: absolute;
        top: 630px;
        left: calc(50% - 25px);
        width: 50px;
        height: 2px;
        background-color: #00a4e5;
    }
    .main__text{
        width: 100%;
        display: inline;
        text-align: center;
    }
    .main__top-text{
        margin-left: 0%;
    }
}
.main__pictures{
    width: 50%;
    display: inline-block;
    vertical-align: top;
    margin-top: 6%;
}

.plan{
    background: url(../images/plan.jpg) no-repeat  ;
    width: 140px;
    height: 224px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    margin-left: 20%;
    margin-right: 2%;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 4%;
    letter-spacing: 0.19px;
    display: inline-block;
    color: #FFFFFF;
}
.manage{
    display: inline-block;
    background: url(../images/manage.jpg) no-repeat  ;
    width: 140px;
    height: 224px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    margin-right: 2%;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 4%;
    letter-spacing: 0.19px;

    color: #FFFFFF;
}
.build{
    display: inline-block;
    background: url(../images/build.jpg) no-repeat  ;
    width: 140px;
    height: 224px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 4%;
    letter-spacing: 0.19px;

    color: #FFFFFF;
    
}
@media screen and (max-width: 768px){
    .main__pictures{
        margin-top: 15%;
        margin-left: 5%;
    }
    .plan{
        background: url(../images/plan.jpg) no-repeat  ;
        width: 100px;
        height: 150px;
        font-weight: 700;
        font-size: 20px;
        line-height: 20px;
        margin-left: 7%;
        margin-right: 1%;
        letter-spacing: 0px;

    }
    .manage{
        background: url(../images/manage.jpg) no-repeat  ;
        width: 100px;
        height: 150px;
        font-weight: 700;
        font-size: 20px;
        line-height: 20px;
        margin-left: 1%;
        margin-right: 1%;
        letter-spacing: 0px;
    }
    .build{
        background: url(../images/build.jpg) no-repeat  ;
        width: 100px;
        height: 150px;
        font-weight: 700;
        font-size: 20px;
        line-height: 20px;
        margin-left: 1%;
        margin-right: 1%;
        letter-spacing: 0px;
    }
}
@media screen and (max-width: 320px){
    .main__pictures{
        width: auto;
        display: flex;
        flex-direction: column;
        vertical-align: auto;
        margin-top: 6%;
        margin-left: 3%;
        margin-right: 3%;
    }
    .plan{
        background: url(../images/plan.jpg) no-repeat center/cover ;
        width: 200px;
        height: 224px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 6%;
        flex-direction: column;
    }
    .manage{
        flex-direction: column;
        background: url(../images/manage.jpg) no-repeat center/cover  ;
        width: 200px;
        height: 224px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 6%;
    }
    .build{
        flex-direction: column;
        background: url(../images/build.jpg) no-repeat center/cover ;
        width: 200px;
        height: 224px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 6%;
    }
}
.capabilities{
    width: 100%;
    display: flex;
    margin-bottom: 4%;
    background: url(../images/Line.png) no-repeat top 100% left 12.6%;
}
.our{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    flex-direction: row;
    font-size: 18px;
    line-height: 25px;
    margin-top: 8%;
    margin-left: 12%;
    letter-spacing: 2.30625px;

    color: #48555B;

}

.lorem{
    width: 30%;
    flex-wrap: wrap;
    margin-left: 16%;
    margin-top: 8%;
    
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 19px;
    
    letter-spacing: 0.2px;

    color: #48555B;
}
.button{
    margin-top: 8%;
    margin-left: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    
    width: 12%;
    flex-direction: row;
    
    background: #00A4E5;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
    border: none;
    
    text-align: center;
    letter-spacing: 0.5px;

    color: #FFFFFF;
}
@media screen and (max-width: 768px){
    .capabilities{
        margin-bottom: 4%;
        background: url(../images/Line.png) no-repeat top 80% left 12.6%;
    }
    .our{
        font-size: 15px;
        line-height: 22px;
        
        letter-spacing: 1.30625px;
    }
    .button{
        margin-top: 10%;
        padding: 0;
        width: 12%;
        height: 40px;
    
        font-size: 10px;
        line-height: 16px;
        letter-spacing: 0px;
    
    }
}
@media screen and (max-width: 320px){
    .capabilities{
        width: auto;
        display: flex;
        flex-direction: column;
        margin-bottom: 4%;
        background: url(../images/Line.png) no-repeat top 30% left 140px;
        text-align: center;
    }
    .our{
        margin: 0;
        margin-top: 3%;
        font-size: 20px;
        flex-direction: column;
        text-align: center;
    }
    
    .lorem{
        width: auto;
        margin-right: 1%;
        margin-left: 1%;
        flex-direction: column;
        text-align: center;
     
    }
    .button{
        margin:20px 50px 0px 50px;
        padding-top: 12px;
        padding-left: 80px;
        padding-right: 75px;
        
        width: auto;
        flex-direction: column;
        
        
        
        text-align: center;
    }
}
.button:hover{
    background: #48555B;
}
.section-div{
    width: 100%;
    margin-bottom: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.block-left{
    width: 22.1%;
    height: 5%;
    
    
    margin-left: 10%;
    
    border: 1px solid #E6E6E6;
    
    
}
.school{
    margin-top: 13%;
    margin-left: 7%;
}
.Project{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    margin-top: 8%;
    margin-left: 6.5%;
    margin-right: 6.5%;
    align-items: center;
    letter-spacing: 0.426667px;

    color: #48555B;
}
.block-center{
    width: 22.1%;
   
    
    
    
    border: 1px solid #E6E6E6;
}

.block-right{
    width: 22.1%;
    
    margin-right: 12%;
    border: 1px solid #E6E6E6;
    
}
.block-subtitle{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 23px;
    margin-top: 0.81em;
    margin-right: 1.4em;
    margin-left: 1.4em;
    margin-bottom: 13%;
    letter-spacing: 0.1875px;

    color: #48555B;

}
@media screen and (max-width: 768px){
    .block-left{
        height: 1%;    
    }
    .school{
        margin-top: 5%;
        margin-left: 5%;
        width: 50px;
        height: 50px;
    }
    .Project{
        font-size: 13px;
        line-height: 22px;
        letter-spacing: 0px;
        margin-top: 1%;
    }
    .block-subtitle{
        font-size: 12px;
        line-height: 20px;
        margin-top: 1.5%;
        margin-right: 6.5%;
        margin-left: 6.5%;
        margin-bottom: 11%;
        letter-spacing: 0px;
    
    }
    .block-left{
        border: 0px solid #e6e6e6;
    }
    .block-center{
        border: 0px solid#e6e6e6;
    }
    
    .block-right{
        border: 0px solid #E6E6E6;
        
    }

}
@media screen and (max-width: 320px){
    .section-div{
        width: auto;
        margin-bottom: 10%;
        display: flex;
        flex-direction: column;;
        
    }
    .block-left{
        width: 290px ;
        height: 310px ;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        margin-bottom: 10px;
        border: 1px solid #E6E6E6;
    
    }
    .school{
        margin-top: 13%;
        margin-left: 7%;
    }
    .Project{
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        margin-top: 8%;
        margin-left: 6.5%;
        margin-right: 6.5%;
        align-items: center;
        letter-spacing: 0.426667px;
    
        color: #48555B;
    }
    .block-center{
        width: 290px ;
        height: 310px ;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        
        border: 1px solid #E6E6E6;
    
    }
    
    .block-right{
        width: 290px ;
        height: 310px ;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1px;
        border: 1px solid #E6E6E6;
    
    }
    .block-subtitle{
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 23px;
        margin-top: 0.81em;
        margin-right: 1.4em;
        margin-left: 1.4em;
        margin-bottom: 13%;
        letter-spacing: 0.1875px;
    
        color: #48555B;
    
    }
}
.section-bottom{
    width: 100%;
    height: 31em;
    background: url(../images/city.jpg) no-repeat center;
    text-align: center;
}
.bottom-title{
    padding-top: 8%;
    
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;

    letter-spacing: 0.15px;

    color: #48555B;
}
.bottom-button{

    margin-top: 3%;
    background: #00A4E5 ;
    border: none;
    width: 11%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
  

    
   
    letter-spacing: 0.5px;

    color: #FFFFFF;

}
@media screen and (max-width: 768px){
    .section-bottom{
        height: 31em;
    
    }
    .bottom-title{
        padding-top: 15%;
        font-size: 28px;
        line-height: 33px;
    
        letter-spacing: 0px;
    }
    .bottom-button{

        margin-top: 6%;
        width: 13%;
        padding-top: 2%;
        padding-bottom: 2%;
        font-size: 10px;
        line-height: 15px;

        letter-spacing: 0px;
    }

}
@media screen and (max-width: 320px){
    .section-bottom{
        width: auto;
        height: 31em;
        background: url(../images/city.jpg) no-repeat center;
        text-align: center;
    }
    .bottom-title{
        padding-top: 30%;
        
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 35px;
        line-height: 38px;
    
        letter-spacing: 0.15px;
    
        color: #48555B;
    }
    .bottom-button{
    
        margin-top: 10%;
        background: #00A4E5 ;
        border: none;
        width: 50%;
        padding-top: 3%;
        padding-bottom: 3%;
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 13px;
        line-height: 18px;
      
    
        
       
        letter-spacing: 0.5px;
    
        color: #FFFFFF;
    
    }
}
.bottom-button:hover{
    
    background: #48555B;
}
.top-footer{
    background: #171819;
}
.form-title{
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;


    
    letter-spacing: 0.846154px;

    color: #FFFFFF;
    margin-left: 25%;
    padding-top: 3%;
    padding-bottom: 3%;
}
.form-footer{
    width: 40%;
    margin-left: 10%;
    border: none;
    display: inline-block;
    background: transparent;
    outline: none;
    color: rgba(189, 189, 189, 1);
    vertical-align: middle;
}
.email{
    display: inline-block;
    width: 60%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 3%;
    align-self: center;
    
    
}
.send{
    margin-left: -1%;
    display: inline-block;
    width: 30%;
    padding-top: 2%;
    padding-bottom: 2%;
    align-self: center  ;
    background: #00A4E5 ;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;

    
    text-align: center;
    letter-spacing: 0.5px;

    color: #FFFFFF;
}
@media screen and (max-width: 768px){
    .form-title{
        font-size: 20px;
        line-height: 25px;
        margin-left: 15%;
    }
    .send{
        margin-left: -2%;
     
        font-size: 11px;
        line-height: 15px;
        padding-top: 2.6%;
        padding-bottom: 2.5%;
    }
}
@media screen and (max-width: 320px){
    .form-title{
        display: flex;
        
    }
    .form-footer{
        width: auto;
        margin-left: 10%;
        border: none;
        flex-direction: column;
        background: transparent;
        outline: none;
        color: rgba(189, 189, 189, 1);
        vertical-align: middle;
    }
    .email{
        flex-direction: column;
        width: 100%;
        padding-top: 2%;
        padding-bottom: 2%;
        padding-left: 3%;
        align-self: center;
        
        
    }
    .send{
        margin-left: 1px;
        flex-direction: column;
        width: 100%;
        padding-top: 2%;
        padding-left: 40%;
        padding-bottom: 2%;
        align-self: center  ;
        background: #00A4E5 ;
        border: none;
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 13px;
        line-height: 18px;
        
        
        text-align: center;
        letter-spacing: 0.5px;
    
        color: #FFFFFF;
    }
}
.send:hover{
    background: #48555B;
}
.footer{
    width: 100%;
    background: #141A20;
}
.footer__left{
    display: inline-block;
    margin-left: 12%;
}
.company{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    padding-top: 20%;
    letter-spacing: 0.846154px;

    color: #FFFFFF;
}
.footer__title{
    display: inline-block;
    color: #FFFFFF;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 30px;
    padding-top: 4%;
}
.footer__triangle{
    display: inline-block;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 8px solid #00A4E5;
    margin-left: -4px;
}
.footer__title-end{
    display: inline-block;
    color: #FFFFFF;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 30px;
    margin-left: -3px;
}
.footer__text{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 19px;
    

    padding-top: 4%;
    padding-bottom: 20%;
    letter-spacing: 0.85px;

    color: #FFFFFF;
}
.footer__center-left{
    display: inline-block;
    margin-left: 6%;
    vertical-align: top;
    
    
}

.links{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    
    padding-top: 60%;
    letter-spacing: 0.846154px;

    color: #FFFFFF;

}
.links-list{
    padding-top: 18%;
    list-style-type: none;
}
.home-footer{
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 25px;
    
    
    letter-spacing: 0.846154px;

    color: #FFFFFF;
}

.footer__center{
    display: inline-block;
    margin-left: 2%;
    vertical-align: top;
    margin-top: 5.4%;
}
.center-list{
    list-style: none;
}
.faq{
    text-decoration: none;

    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 25px;

    letter-spacing: 0.846154px;

    color: #FFFFFF;

}
.footer__center-right{
    display: inline-block;
    margin-left: 3%;
    margin-top: 5.4%;
    vertical-align: top;
}
.footer__right{
    display: inline-block;
    margin-left: 4%;
    margin-top: 3%;
    margin-bottom: 3%;
    vertical-align: top;
    
}
.contact{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    margin-bottom: 3%;

    letter-spacing: 0.846154px;

    color: #FFFFFF;

}
.number{
    padding-bottom: 9%;
    padding-top: 9%;
}
.images{
    display: inline-block;
    vertical-align: top;
    margin-top: 5%;
    margin-left: 5%;
}
.footer-fb{
    display: inline-block;
    padding-left: 0.9em;
    filter:  brightness(0) invert(1)
}

.footer__end{
    background: #171819;
    text-align: center;
}
.end{
    padding-top: 2%;
    padding-bottom: 2%;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;

   
    letter-spacing: 0.846154px;

    color: #FFFFFF;
}
@media screen and (max-width: 768px){
    .footer__left{
        display: inline-block;
        margin-left: 10%;
    }
    .company{
        font-size: 10px;
        line-height: 13px;
        padding-top: 10%;
        letter-spacing: 0px;
    
    }
    .footer__title{
        font-size: 27px;
        padding-top: 4%;
    }
    .footer__title-end{ 
        font-size: 27px;
    }
    .footer__text{
        font-size: 9px;
        line-height: 15px;
      
    }
    .footer__center-left{
        margin-left: 4%;
 
    }
    .links{
        font-size: 11px;
        
        padding-top: 30%;

    }
    .links-list{
        padding-top: 35%;
        
    }
    .home-footer{
        font-size: 9px;
        line-height: 23px;
    
    }
    .footer__center{
        margin-left: 1%;
        margin-top: 7.7%;
    }
    
    .faq{
    
        font-size: 9px;
        
        line-height: 23px;
        color: #FFFFFF;
    }
    .footer__center-right{
        margin-left: 2%;
        margin-top: 7.7%;
    }
    .contact{
   
        margin-bottom: 17%;

    }
    .number{
        padding-bottom: 7%;
        padding-top: 7%;
    }
    .images{
        margin-top: 0px;
        margin-left: 42%;
    }
    .end{
        padding-top: 1.5%;
        padding-bottom: 1.5%;
        font-size: 8px;
        line-height: 10px;
    }
}
@media screen and (max-width: 320px){
    .footer__center{
        margin-top: 55px;
    }
    .footer__center-right{
        margin-top: 55px;
    }
    .faq{
        margin-top: 28px;
    }
}
.end::before{
    content:"\00a9"
}